.card {
	margin: 10px 0px;
	padding: 10px;
	border-left: 3px solid gray;
	border-bottom: 1px solid gray;
	border-bottom-left-radius: 10px;
	transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

.card:hover {
	transform: translateX(-20px);
	border-color: white;
	border-bottom-width: 3px;
}

.f-center {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
